# Python
*.pyc
__pycache__/

# Chrome WebDriver
chromedriver.log

# IDE specific
.vscode/
*.code-workspace

# Environment
env/
myenv/

# Info Pages
*.yaml

# Byte-compiled / optimized / DLL files

*.pyo
*.pyd

# Distribution / packaging

.Python
dist/
build/
develop-eggs/
eggs/
parts/
var/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Logs

*.log

Test-related

.coverage
.coverage.
.tox/
.nox/
htmlcov/
.cache/

# PyBuilder

target/

# Jupyter Notebook

.ipynb_checkpoints/

# IPython

profile_default/
ipython_config.py

# pyenv

.python-version

pipenv

Pipfile.lock

# MacOS

.DS_Store

# Unit test / coverage reports

htmlcov/
.xml
*.html
*.xml
*.json
*.csv

# Directories for virtual environments

.venv/
.venv*/

# Spyder project settings

.spyderproject
.spyproject

# PyCharm

.idea/

# mypy

.mypy_cache/

# pylint

.pylintrc